DB_URL=jdbc:postgresql://localhost:5432/banking_db
DB_USERNAME=postgres_user
DB_PASSWORD=secure_bank_password

POSTGRES_DB=banking_db
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=secure_bank_password

JWT_SECRET=7a6e7d2f16fcb64b1cb0e5d0a4f31dbb2d80f8b4e0f2db68c94b9
JWT_EXPIRATION=3600000
